$color-bg: #f0eeec;
$color-card: #fff;
$color-border: #332f2f;
$color-answer: #332f2f;

body,
* {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  letter-spacing: 0.5px;
  box-sizing: border-box;
}

body {
  background-color: $color-bg;

  .CardsWrapper {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    grid-gap: 20px;
    margin-left: auto;
    margin-right: auto;
    padding: 15px;
    max-width: 1330px;
    width: 100%;
    perspective: 1500px;

    .Card {
      position: relative;
      background-color: $color-card;
      border: 2px solid $color-border;
      border-radius: 10px;
      transition: transform 0.3s ease-out;
      transform-style: preserve-3d;
      cursor: pointer;

      .CardFront,
      .CardBack {
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: 15px;
        height: 100%;
        backface-visibility: hidden;
      }

      .CardFront {

        .Question {
          font-size: 16px;
        }

        .Answers {
          padding-top: 20px;
          list-style: none;

          > li {
            padding-bottom: 5px;
            font-size: 14px;

            &::before {
              content: '-';
              padding-right: 5px;
            }

            &:last-child {
              padding-bottom: 0;
            }
          }
        }
      }

      .CardBack {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        font-size: 18px;
        font-weight: bold;
        text-align: center;
        color: $color-answer;
        transform: rotateY(180deg);
      }
  
      &.Fliped {
        transform: rotateY(180deg);
      }
    }
  }
}